/* GENERAL */

@import url('https://fonts.googleapis.com/css2?family=Taviraj:wght@300;400;500;600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Parisienne&display=swap');

* {
    margin : 0;
    padding: 0;
    background-color: rgb(241, 240, 234);
    font-family: "Taviraj", serif;
}

body {
}

html {
    scroll-behavior: smooth; /* change to auto to jump to different nav links*/
}

p {
    color: rgb(63, 62, 62);
}

/* TRANSITION */

a, 
.btn{
    transition: all 300ms ease;
}

/* DESKTOP NAV */
nav {
    display: flex;
    justify-content: space-around;  /*justify for main-axis, align cross-axis */
    align-items: end;
    height: 10vh;
    
}

.nav-container {
    z-index: 100;
    top: 0;
    /*position: sticky;*/
    transition: top 0.25s;
}

.nav-links {
    display: flex;
    column-gap: 2rem;  
    list-style: none;  /*gets rid of bullet points */
}

a {
    color: rgb(40, 138, 174);
    text-decoration: none;
}

a:hover{
    color: rgb(87, 87, 87); 
}

.logo {
    font-size: 2rem;
}

.logo:hover {
    cursor: default; /* prevent transition to text cursor when hovering */
}

/*HAMBURGER MENU */

#hamburger-nav {
    display: none;
}

.hamburger-menu {
    position: relative;
    display: inline-block;
}

.hamburger-icon {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 24px;
    width: 30px;
    cursor: pointer;
}

.hamburger-icon span {
    width: 100%;
    height: 2px;
    background-color: black;
    transition: all 0.3 ease-in-out;
}

.menu-links {
    position: absolute;
    top: 100%;
    right: 0;
    background-color: white;
    width: fit content;
    max-height: 0;
    overflow: hidden;
    transition: all 0.3 ease-in-out;
}

.menu-links a {
    display: block;
    padding: 10px;
    text-align: center;
    font-size: 1.5rem;
    color: (40, 138, 174);
    text-decoration: none;
    transition: all 0.3 ease-in-out;
}

.menu-links li {
    list-style: none;
}

.menu-links.open {
    max-height: 300px;
}

.hamburger-icon.open span:first-child {
    transform: rotate(45deg) translate(10px, 5px);
}

.hamburger-icon.open span:nth-child(2) {
    opacity: 0;
}

.hamburger-icon.open span:last-child {
    transform: rotate(-45deg) translate(10px, -5px);
}

.hamburger-icon span:first-child {
    transform: none;
}

.hamburger-icon span:first-child {
    opacity: 1;
}

.hamburger-icon span:first-child {
    transform: none;
}

/* SECTIONS */

section {
    height: 100vh;
    margin: 0 10rem;
    box-sizing: border-box;
    min-height: fit-content;
  }
  
/* PROFILE SECTION */

#profile {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 90vh; 
  }
  
  .section_text p {
    font-weight: 500;
    color: rgb(105, 103, 103);
  }
  
  .title {
    font-size: 3rem;
    color: rgb(57, 57, 57);
  }
  
  #socials-container {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
  }

/* ICONS */

.icon {
    cursor: pointer;
    height: 2rem;
}

/* BUTTONS */

.btn-container {
    display: flex;
    justify-content: center;
    gap: 0.7rem;
}

.btn {
    font-weight: 400;
    font-family: "Dancing Script", serif;
    font-size: 1.3rem;
    color: white;
    background: rgb(53, 53, 53);
    border-radius: 0.2rem;
    border: rgb(53, 53, 53) 0.1rem solid;
    margin-top: 1rem;
    width: 5rem;
    height: 1.8rem;
    display: flex;
    justify-content: center;
    transition: all 300ms ease;
}

.btn-color-1:hover, 
.btn-color-2:hover {
    cursor: pointer;
    color: rgb(53, 53, 53);
    background: white;
}

/* ABOUT SECTION */
#about {
    position: relative;
}

.about-section-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 4rem;
    margin-left: 18vh;
    margin-right: 15vh;
    height: 100vh;
}

.section-pic-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.section-pic-container img{
    clip-path: circle();
    max-width: 280px;
}

hr{
    height: 1px;
    background-color: rgb(53, 53, 53);
    margin-right: 1%;
    margin-left: 1%;
}
  
.about-content-container {
    display: flex;
    flex-direction: column;
    flex: 1;
    background: rgb(241, 240, 234);
    margin-left: 3vh;
    text-align: justify;
    text-justify: inter-word;
}
  
/* EXPERIENCE SECTION */
  
#experience {
    position: relative;
}

.section-title {
    margin-top: 15vh;
    font-size: 2rem;
    font-weight: 400;
    color: rgb(57, 57, 57);
    margin-bottom: 1.6rem;
  }
  
.experience-sub-title {
    color: rgb(85, 85, 85);
    margin-bottom: 0.5rem;
    background-color: white;
    font-weight: 400;
    font-size: 1.2rem;
}
  
.experience-section-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 3rem;
}

.tech-experience-box {
    background-color: rgb(242, 237, 221);
    border-radius: 0.2rem;
    padding-left: 1rem;
    padding-right: 1rem;
    text-align: center;
}

.experience-list {
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5rem;
    gap: 0.8rem;
    background-color: white;
}
  
.article-container {
    display: flex;
    text-align: initial;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 2.5rem;
    justify-content: space-around;
}
  
article {
    display: flex;
    width: 10rem;
    justify-content: space-around;
    gap: 0.5rem;
}
  
article .icon {
    cursor: default;
}

.details-containers {
    display: flex;
    flex-direction: column;
    padding: 1.5rem;
    flex: 1;
    width: 80%;
    background: white;
    border-radius: 1rem;
}

/*CONTACT*/

#contact {
    position: relative;
    height: 85vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
  
.contact-section-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    gap: 2rem;
    width: 60vw;
}

.send-contact-container {
    width: 55%;
}

.send-contact-container hr {
    height: 3px; 
    background-color: rgb(198, 197, 197); 
    border: none; 
    width: 40%; 
    margin-left: 30%;
    margin-top: 3rem;
    margin-bottom: 3rem;
}

textarea {
    resize: none;
    width: 100%;
    height: 200px;
    border-radius: 0.1rem;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(187,187,187);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 0.9rem;
    gap: 0.2rem;
    background-color: rgb(203, 203, 203);
    border-radius: 0.3rem;
    padding-top: 2rem;
    padding-bottom: 1.5rem;
}

form button {
    border-radius: 0.2rem;
    border: solid 1.5px;
    border-color: rgb(182, 181, 181);
    transition: all 300ms ease;
    background-color: rgb(214, 211, 211);
    padding: 2px;
    width: 3rem;
    margin: auto;
    margin-top: 1rem;
}

form button:hover {
    cursor: pointer;
    background: rgb(227, 225, 216);
} 

input {
    border-radius: 0.1rem;
    border-style: solid;
    border-width: 1.5px;
    border-color: rgb(187,187,187);
    height: 1.5rem;
    width: 100%;
}

label {
    font-size: 0.8rem;
    color: rgb(82, 81, 81);
    background-color: rgb(203, 203, 203);
}

.form-div {
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    width: 80%;
    background-color: rgb(203, 203, 203);
}

.contact-methods {
    display: flex;
    justify-content: center;
    margin-top: 2rem;
}

.way-to-contact {
    display: flex;
    justify-content: start;
    margin: 0.8rem;
}
  
.contact-icon {
    cursor: default;
}

.email-icon {
    height: 2.5rem;
}

.arrow {
    position: absolute;
    height: 4vh;
    width: 6vw;
}

/* FOOTER SECTION */
  
footer {
    display: flex;
    flex-direction: column;
    align-content: space-around;
    height: 15vh;
    background-color: rgb(63, 62, 62);
}
  
.footer-color {
    color: rgb(241, 240, 234);
    background-color: rgb(63, 62, 62);
}

.footer-color a {
    color: rgb(241, 240, 234);
    background-color: rgb(63, 62, 62);
}

.footer-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(63, 62, 62);
}

.copyright {
    display: flex;
    justify-content: center;
    align-content: end;
}